.sidebar.sidebar-style-2 .nav.nav-primary>.nav-item.active>a {
  background: #28a745!important;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1),4px 4px 15px -5px rgba(21,114,232,.4)!important;
}

.bg-primary-gradient {
  background: linear-gradient(-45deg,#57ca71,#28a745)!important;
}

.pb-5, .py-5 {
  padding-bottom: 2rem!important;
}

.pt-5, .py-5 {
  padding-top: 1.5rem!important;
}

.main-panel>.content {
  min-height: 82vh;
}

.page-item.active .page-link {
  background-color: #28a745;
  border-color: #28a745;
}

.table td, .table th {
    padding: 6px 6px!important;
}

.table td, .table th {
    height: auto;
    vertical-align: top !important;
}

.form-radio-input {
  position: relative;
  margin-top: .1rem;
}

.nav-pills.nav-secondary .nav-link.active {
  /* background: white; */
  /* color: #28a745 !important; */
  background-color: #28a745;
  color: white !important;
  border: 1px solid #28a745;
  font-weight: bold;
}

.form-check, .form-group {
  padding: 5px;
}

.form-inline label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: left;
  -ms-flex-pack: center;
  justify-content: left;
  margin-bottom: 0;
  vertical-align: top;
}

.card, .card-light {
  box-shadow: 2px 6px 15px 0 rgba(69,65,78,.5);
}

.form-check [type=checkbox]+.form-check-sign:after, .form-check [type=checkbox]:checked+.form-check-sign:after, .form-check [type=checkbox]:not(:checked)+.form-check-sign:after {
  color: #28a745;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc_disabled:before {
    right: 0.7em;
    content: "\2191";
    font-size: 12px;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc_disabled:after {
    right: .3em;
    content: "\2193";
    font-size: 12px;
}

table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:after {
    opacity: 1;
    color: #28a745;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 950px !important;
    max-width: 950px !important;
  }
}

@media (min-width: 1200px) {
  .modal-lg {
    width: 1100px !important;
    max-width: 1100px !important;
  }
}

@media (min-width: 992px) {
  .page-inner {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.form-inline .form-check {
  flex-direction: column;
  align-items: flex-start;
}
