header nav.navbar.white-link .navbar-nav > li.active > a, nav.navbar.bootsnav.white-link ul.nav > li.active > a, .text-green, header nav.navbar.white-link .navbar-nav > li > a:hover, nav.navbar.bootsnav.white-link ul.nav > li > a:hover,
.single-feature:hover .hvr-green,header nav.navbar .navbar-nav>li.active>a, nav.navbar.bootsnav ul.nav>li.active>a,header nav.navbar .navbar-nav>li>a:hover, nav.navbar.bootsnav ul.nav>li>a:hover,.login100-form-btn{
    color: #09a223 !important;
}
.bg-green,.play-icon,.wrap-login100,.sk-cube-grid .sk-cube,.dropdown-style-1 .dropdown-menu>li>a:hover, .dropdown-style-1 .dropdown-menu>li>a:focus {
    background: #09a223;
}
.play-hvr:hover {
    border: 4px solid #09a223;
}
.btn.btn-green,.btn.btn-transparent-green:hover,.parallax .btn.btn-blue:hover, .parallax .btn.btn-blue:focus, .button_div .btn.btn-blue:hover, .button_div .btn.btn-blue:focus,.scroll-top-arrow:hover,
#shop .btn.btn-blue:hover, #shop .btn.btn-blue:focus{
    background: #09a223 !important;
    border-color: #09a223 !important;
    color: #fff !important;
}

.btn.btn-green:hover, .btn.btn-grenn:focus,.btn.btn-transparent-green {
    background: transparent !important;
    border-color: #09a223 !important;
    color: #09a223 !important;
}
.how-box-one .icon-box-green {
    border: 3px solid #09a223;
    background-color: #09a223;
}

.text-blue, .single-feature:hover .hvr-blue,header.header-appear nav.bootsnav.header-light-transparent .navbar-nav>li>a:hover, header.header-appear nav.bootsnav.header-light .navbar-nav>li>a:hover, header.header-appear nav.header-light-transparent .header-social-icon a:hover, header.header-appear nav.header-light .header-social-icon a:hover, header.header-appear nav.header-light.white-link .header-social-icon a:hover, header.header-appear nav.header-light-transparent.white-link .header-social-icon a:hover, header.header-appear nav.header-light-transparent.white-link .heder-menu-button a:hover, header.header-appear nav.header-light-transparent .header-searchbar a:hover, header.header-appear nav.header-light .header-searchbar a:hover, header.header-appear nav.header-light.white-link .header-searchbar a:hover, header.header-appear nav.header-light-transparent.white-link .header-searchbar a:hover, .header-search-form:hover, .header-social-icon a:hover,
.blog a:hover, .blog a:active{
    color: #3a2c5f !important;
}

.bg-blue,.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span,.cbp-l-filters-buttonCenter .cbp-filter-counter,
.cbp-l-grid-mosaic-flat .cbp-caption-activeWrap,.mfp-bg,.scroll-top-arrow, .scroll-top-arrow:focus,.accordion-style2 .panel .panel-heading:hover{
    background-color: #3a2c5f;
}

.btn.btn-blue,.parallax .btn.btn-green:hover, .parallax .btn.btn-grenn:focus {
    background: #3a2c5f !important;
    border-color: #3a2c5f !important;
    color: #fff !important;
}

.btn.btn-blue:hover, .btn.btn-blue:focus {
    background: transparent !important;
    border-color: #3a2c5f !important;
    color: #3a2c5f !important;
}

.btn.btn-transparent-blue {
    background: transparent;
    border-color: #3a2c5f;
    color: #3a2c5f;
}
.btn.btn-transparent-blue:hover {
    background: #3a2c5f;
    border-color: #3a2c5f !important;
    color: #fff!important;
}
.owl-theme .owl-dots .owl-dot span {
    border: 1px solid #3a2c5f;
}
.how-box-one .icon-box-blue {
    border: 3px solid #3a2c5f;
    background-color: #3a2c5f;
}

.cbp-l-filters-buttonCenter .cbp-filter-counter:after {
    border-top: 4px solid #3a2c5f;
}
.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
    color: #3a2c5f;
    border-color: #3a2c5f;
}
.accordion-style2 .panel .panel-heading{
    border: 1px solid #3a2c5f;
}
a{
    color: #fffff9;
}
.login100-form-btn:hover {
    color: #fff !important;}

.bg-grd-blue{background: rgba(133,95,215,1);
    background: -moz-linear-gradient(left, rgba(133,95,215,1) 0%, rgba(77,63,117,1) 54%, rgba(63,49,102,1) 82%, rgba(63,49,102,1) 100%);
    background: -webkit-linear-gradient(left, rgba(133,95,215,1) 0%, rgba(77,63,117,1) 54%, rgba(63,49,102,1) 82%, rgba(63,49,102,1) 100%);
    background: -o-linear-gradient(left, rgba(133,95,215,1) 0%, rgba(77,63,117,1) 54%, rgba(63,49,102,1) 82%, rgba(63,49,102,1) 100%);
    background: -ms-linear-gradient(left, rgba(133,95,215,1) 0%, rgba(77,63,117,1) 54%, rgba(63,49,102,1) 82%, rgba(63,49,102,1) 100%);
    background: linear-gradient(to right, rgba(133,95,215,1) 0%, rgba(77,63,117,1) 54%, rgba(63,49,102,1) 82%, rgba(63,49,102,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#855fd7', endColorstr='#3f3166', GradientType=1 )}