/* Table Of Contents */


/* General Styling and Tags

body

Google Font

1.Header
    Top-Header
 - nav .navbar

2.Home
  - Slider Revolution

3.About
   - xbox-section

4.Services
   - .our-services

5.How Its Work Section
    - .how-it-work

6.How Its Work Section
    - .Project Section

7.Recent-Section
    - .recent-news

8.Investor Section
  - .iq-news

9.Testimonial Section
  - .testmonial

10.Price Table Section
  - .price-five

11.Blog Section
    .blog

12.Contact Form Section
  - .get-quote-section

12.Map Section
  - .map

13.Footer
 - .footer-classic-dark



* ===================================
    Google font
====================================== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700,800');

@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,600,700');

/* ===================================
    Typography
====================================== */

/* font family */

.alt-font {
    font-family: 'Raleway', sans-serif;
}

.main-font {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-weight: 200;
}

/*----Log in & Sign up-----*/

.modal {
    width: 100%;
    margin: 0 auto;
    z-index: 999;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.close {
    position: relative;
    right: -40px;
    top: -45px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    opacity: 0.7;
}

#id01 {
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.wrap-login100 {
    width: 430px;
    border-radius: 10px;
    overflow: hidden;
    padding: 50px 50px 30px 50px;
    background: #17acc6;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.wrap-login100 a:active,
.wrap-login100 a:focus {
    color: #fff;
}

/*-- Form  --*/

.login100-form {
    width: 100%;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.login100-form-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 20px;
}

.login100-form-logo img {
    width: 100%;
    height: 100%;
}

/*-- Input --*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.24);
    margin-bottom: 30px;
}

::-webkit-input-placeholder {
    color: #FFFFFF;
}

::-moz-placeholder {
}

:-ms-input-placeholder {
    color: #FFFFFF;
}

:-moz-placeholder {
    color: #FFFFFF;
}

.input100 {
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    border: 0;
    display: block;
    width: 100%;
    height: 35px;
    background: transparent;
    padding: 0 5px 0 38px;
}

/*---Form Focus---*/

.input100::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1;
    /* Firefox */;
}

.input100:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

.input100:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.focus-input200 {
    top: 35px;
}

.focus-input100::before {
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #fff;
}

.focus-input100::after {
    font-size: 22px;
    color: #fff;
    display: block;
    width: 100%;
    position: absolute;
    top: 5px;
    left: 0;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.focus-input100-user::after {
    content: "\f007";
}

.focus-input100-password::after {
    content: "\f13e";
}

.focus-input100-email::after {
    content: "\f0e0";
}

.input100:focus {
    padding-left: 5px;
}

.input100:focus + .focus-input100::after {
    top: -22px;
    font-size: 18px;
}

.input100:focus + .focus-input100::before {
    width: 100%;
}

.has-val.input100 + .focus-input100::after {
    top: -22px;
    font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}

.has-val.input100 {
    padding-left: 5px;
}

/*---  Re style Checkbox ---*/

.contact100-form-checkbox {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 35px;
}

.input-checkbox100 {
    display: none;
}

.label-checkbox100 {
    font-size: 13px;
    color: #fff;
    line-height: 1.2;
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.label-checkbox100::before {
    content: "\f00c";
    font-size: 13px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: #fff;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
    color: #17acc6;
}

/*--- Button ---*/

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    font-size: 14px;
    color: #17acc6;
    border: 2px solid #FFFFFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin-bottom: 10px;
}

.login100-form-btn:hover {
    background: #333333;
    color: #FFFFFF;
    border: 2px solid #333333;
}

/*-- Responsive --*/

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 55px 15px 37px 15px;
    }

    .close {
        right: 0;
    }
}

/*-- Alert validate --*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    pointer-events: none;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 16px;
    color: #219bd7;
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

/*-- navbar --*/

nav.navbar.bootsnav.nav-white ul.nav > li > a {
    color: #fff;
}

.sticky nav.navbar.bootsnav.nav-white ul.nav > li > a {
    color: #0d0d0d;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none !important;
}


/*Dropdown*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 175px;
    max-width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;
    right: 50px;
    padding: 10px 0 !important;
}

.dropdown-content a {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #0d0d0d;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content::after {
    border-bottom: 10px solid #fff;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
    bottom: 0;
    top: -10px;
    left: 50%;
    right: 50%;
    margin-left: -10px;
    opacity: 1;
    visibility: visible;
}

.dropdown-content a:hover {
    background-color: #17acc6;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropicon {
    position: relative;
    color: #fff;
    left: 5px;
    transition: .01s;
}

.dropdown:hover .dropicon,.dropdown:hover .dropbtn {
    color: #17acc6 !important;
}

.header-appear .dropicon {
    color: #0d0d0d;
}

.how-box-one {
    background-color: #fff;
    position: relative;
    padding: 40px 20px;
    transition: all .3s;
    cursor: pointer;
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 10px;

}

.round-version .how-box-one {
    border-radius: 5px !important;
}

.round-version .price-table {
    border-radius: 5px !important;
}

/*-- about section --*/

.how-box-one .icon-box-blue {
    position: relative;
    font-size: 40px;
    line-height: 97px;
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    border: 3px solid #24b7ff;
    color: #fff;
    font-weight: 700;
    border-radius: 50px;
    margin-top: -90px;
    background-color: #24b7ff;
    transition: all 0.1s;
}

.how-box-one .icon-box-green {
    position: relative;
    font-size: 40px;
    line-height: 97px;
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    border: 3px solid #82b440;
    color: #fff;
    font-weight: 700;
    border-radius: 50px;
    margin-top: -90px;
    background-color: #82b440;
    transition: all 0.1s;
}

img {
    width: 100%;
    display: inline-block;
}

.how-box-one:after {
    content: '';
    position: absolute;
    top: 0;
    right: -100px;
    width: 200px;
    height: 120px;
    z-index: 999;
    background: url(../img/arrow-big.png) center center no-repeat;
}

.how-box-one:last-child:after {
    display: none;
}

.how-box-one:hover,
.how-box-one.active {
    box-shadow: 0 0 35px rgba(0, 0, 0, .1);
}

/*-- Feature Box --*/

.single-feature {
    border-radius: 3px;
    transition: .3s ease-in-out 0s;
    text-align: center;
    background: #fff;
    max-width: 350px;
    cursor: pointer;
    border: 1px solid;
    border-color: #fff;
}

.round-version .single-feature {
    border-radius: 5px !important;
}

.feature-icon {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    display: inline-block;
}

.single-feature {
    transition: all 300ms;
    transition-delay: 100ms;
    transition-duration: 100ms;
}

.single-feature:hover .hvr-green {
    color: #82b440;
}

.single-feature:hover .hvr-blue {
    color: #17acc6;
}

.single-feature:hover .hvr-yellow {
    color: #fd961a;
}

.single-feature:hover .feature-icon {
    transform: translateY(-3px);
}

.our-services {
    position: relative;
}

.intro-image {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.owl-theme .owl-dots .owl-dot span {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background: transparent;
    border: 1px solid #17acc6;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #17acc6;
}

.video-play-icon {
    background: #17acc6 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 28px;
    height: 90px;
    line-height: 90px;
    width: 90px;
    position: relative;
    box-shadow: 0 7px 35px rgba(0, 0, 0, 0.1);
}

.video-play-icon i {
    left: 5px;
    position: relative;
}

.icon::after {
    animation: 1.5s linear 2s infinite;
}

.cryptonatorwidget {
    border: 0 !important;
    padding: 0 !important;
}

table {
    width: 100%;
    max-width: 100%;
}

.cryptonatorwidget table td {
    width: 50% !important;
    padding: 0;
}

table td,
table th {
    padding: 9px 4px;
    line-height: 1.42857143;
    vertical-align: top;
}

.cryptonatorwidget div {
    display: none;
}

.cryptonatorwidget input,
.cryptonatorwidget select {
    font-size: 14px !important;
    text-transform: uppercase;
    height: 40px !important;
    color: #333333;
    background-color: #ffffff;
    border-color: #ffffff;
    outline: none !important;
}

.round-version .cryptonatorwidget input {
    border-radius: 5px !important;
}

.cryptonatorwidget select {
    margin-left: 10px;
    outline: none !important;
}

.round-version .cryptonatorwidget select {
    border-radius: 5px !important;
}

.cryptonatorwidget input {
    height: 40px;
    box-shadow: none;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 200;
    border: none;
    background: #fff;
    color: rgba(51, 51, 51, 0.77);
}

.cryptonatorwidget .select-group {
    margin-bottom: 0;
}

.select-group {
    position: relative;
    padding: 0;
    background-color: #f2f2f2;
    border-radius: 0;
}

.form-group {
    position: relative;
}

.cryptonatorwidget input::-moz-selection {
    color: #333333;
    background: #dbdbdb;
}

.cryptonatorwidget input::-webkit-input-placeholder {
    color: #333333;
    text-overflow: ellipsis;
}

.cryptonatorwidget input::-moz-placeholder {
    color: #333333;
    text-overflow: ellipsis;
    opacity: 1;
}

.cryptonatorwidget input:-ms-input-placeholder {
    color: #333333;
    text-overflow: ellipsis;
    opacity: 1;
}

.get-quote-section {
    overflow: initial !important;
}

.get-quote-section .form-column {
    position: relative;
}

.get-quote-section .form-box .row {
    margin: 0 -10px;
}

.get-quote-section .form-box .row .form-group {
    padding: 0 10px;
}

.form-group {
    margin-bottom: 0;
}

.footer-classic-dark a,
a:active,
a:focus {
    color: #6f6f6f;
}

.social-list {
    margin-left: -35px;
}

.social-list li {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #6f6f6f;
    border: 1px solid #6f6f6f;
    text-align: center;
}

.social-list li:hover a {
    color: #FFFFFF;
}

/*-- contact form --*/

.contact-form {
    max-width: 550px;
    margin: 0 auto;
    float: left;
}

.get-quote-section .image {
    position: relative;
    margin: 0 auto;
    right: -70px;
    margin-top: -50px;
    max-width: 420px;
}

.get-quote-section .image img {
    width: 100%;
}

/*-- Innvestor Section --*/

.iq-team2 .team-blog {
    padding: 30px 10px;
    max-width: 380px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.round-version .iq-team2 .team-blog {
    border-radius: 5px;
}

.iq-team2 .team-blog:hover {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.iq-team2 .team-blog:hover img {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}

.iq-team2 .team-blog .iq-image {
    display: block;
    width: 100%;
    max-width: 150px;
    height: 150px;
    line-height: 150px;
    margin: 0 auto;
    border-radius: 150px;
    webkit-border-radius: 190px;
    -moz-border-radius: 190px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.iq-team2 .team-blog img {
    width: 100%;
}

.iq-team2 .iq-media-blog {
    margin: 0;
    padding: 0;
}

.iq-team2 .iq-media-blog li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 4px;
}

.iq-team2 .iq-media-blog li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid transparent;
    border-radius: 50px;
    font-size: 18px;
    color: #4a4a4a;
    text-align: center;
    transition: 0.1s;
}

.iq-team2 .iq-media-blog li a:hover i {
    color: #fff;
}

.contact-form .form_inputs {
    border-radius: 0;
    background: #f7f7f7;
    border: 1px solid #f7f7f7;
}

.round-version .contact-form .form_inputs {
    border-radius: 5px;
}

.form_inputs::-webkit-input-placeholder {
    color: #7a7a7a !important;
}

.form_inputs::-moz-placeholder {
    color: #7a7a7a !important;
}

.form_inputs:-ms-input-placeholder {
    color: #7a7a7a !important;
}

.form_inputs:-moz-placeholder {
    color: #7a7a7a !important;
}

.form_inputs:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*----Testimonial-----*/

.testimonial-column {
    max-width: 500px;
}

.testimonial-column .back-quote {
    position: absolute;
    left: 15px;
    top: -8px;
    font-size: 100px;
    color: #fff;
    z-index: -1;
}

.owl-testimonial .owl-dots {
    text-align: left;
    margin-left: -5px;
    margin-bottom: 10px;
}

.owl-testimonial .owl-dots .owl-dot span {
    height: 12px;
    width: 12px;
}

.price-five .currency-icon {
    max-width: 25px;
    margin-right: 15px;
}

.feature-box-5 {
    cursor: pointer;
}

.feature-box-5:hover .count-icon-two {
    transform: translateY(-10px);
}

/*----Count Parallax-----*/

.count-icon {
    padding: 20px;
    border: 2px solid #17acc6;
    max-width: 80px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.count-icon-two {
    font-size: 50px;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: 0 auto;
    color: #fff;
    transition: all 100ms linear;
}

.round-version .count-icon {
    border-radius: 5px;
}

.blog-grid .grid-item a:hover,
.blog-grid .grid-item a:active {
    color: #17acc6;
}
.blog a:hover,.blog a:active {
    color: #17acc6;
    text-decoration: none;
}

.owl-team .owl-dots {
    margin-top: 30px !important;
}

.search-input::-webkit-input-placeholder {
    color: #FFFFFF;
}

.search-input::-moz-placeholder {
    color: #FFFFFF;
}

.search-input:-ms-input-placeholder {
    color: #FFFFFF;
}

.search-input:-moz-placeholder {
    color: #FFFFFF;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}

/*--- Scroll Top ---*/

.scroll-top-arrow,
.scroll-top-arrow:focus .fas {
    font-size: 30px;
    line-height: 50px !important;
}

.blog-post {
    margin: 30px auto;
}

.blog-post:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, .1);
}

.round-version .blog-post {
    border-radius: 5px;
}

.blog-grid {
    cursor: pointer;
}

.blog-grid .blog-post-images {
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.blog-post img{
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.blog-post:hover img {
    transform: scale(1.1);
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.phone-section .intro-image {
    max-width: 370px;
}

.phone-section .owl-theme .owl-dots .owl-dot span {
    height: 2px;
    width: 18px;
    margin: -27px 5px;
    background: #17acc6;
}

.phone-section .owl-theme .owl-dots .owl-dot.active span,
.phone-section .owl-theme .owl-dots .owl-dot:hover span {
    border: 1px solid #4b4b4b;
    background: #4b4b4b;
}

/*---Loading---*/

#loader {
    background: #ffffff;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 99999;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.sk-cube-grid {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -40px;
    -webkit-animation: rotatee 2.0s infinite linear;
    animation: rotatee 2.0s infinite linear;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: transparent;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.0s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.0s infinite ease-in-out;
}

.sk-cube-grid .sk-cube {
    background-color: #17acc6;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

.creative_service_area {
    position: relative;
    margin-bottom: -200px;
}

.b_offer {
    max-width: 1170px;
    margin: 0 auto;
    background: #17acc6;
    top: -220px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.second-navbar {
    max-width: 1230px;
    margin: 0 auto;
}

.header-appear .second-navbar {
    max-width: 100% !important;
    border-radius: 0px !important;
}

.widget-chart {
    max-width: 500px !important;
    margin: 0 auto;
}

.widget-news {
    max-width: 500px;
    margin: 0 auto !important;
}

.round-version .blog-post-style5 .blog-post .blog-post-images {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.round-version footer .newsletter input {
    border-radius: 5px;
}

.round-version .social-list li {
    border-radius: 5px;
}

.creative_img {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.btcwdgt.btcwdgt-light .btcwdgt-footer a.logo {
    display: none !important;
}

.btcwdgt-headlines.btcwdgt-light .btcwdgt-footer a.embed {
    display: none !important;
}

/*------ White Version --------*/

.white-version .header-with-topbar .top-header-area {
    border-bottom: 1px solid #e2e2e2;
}

.link-blue a,
.link-blue a:active,
.link-blue a:focus {
    color: #24c2ff;
}

.link-white a,
.link-white a:active,
.link-white a:focus {
    color: #fff;
}

.max-width-600 {
    max-width: 600px;
}

.white-version .b_offer {
    padding: 0px;
    border-radius: 0px;
    background: transparent;
    max-width: 1200px;
    top: -100px;
}

.white-version .creative_service_area {
    margin-bottom: 60px;
}

.about-content-wrap {
    display: table;
    width: 100%;
}

.about-content-wrap .about-featured-image {
    background: #fd961a;
}

.about-content-wrap .about-featured-image,
.about-content-wrap .about-text-content {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.about-content-wrap .about-featured-image img {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: -30px;
}

.about-content-wrap .about-text-content {
    padding-left: 90px;
}

.about-content-wrap .skillbar-bar-style1 .skillbar-bar {
    background: #fd961a;
}

.about-text-content .icon-img {
    font-size: 50px;
    margin-bottom: 10px;
    color: #fd961a;
}

.back-icon {
    font-size: 65px;
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 30px;
    opacity: 0;
}

.offer_content:hover .back-icon {
    opacity: 0.4;
}

.footer-classic-dark a:hover {
    color: #d6d6d6;
}

/*-----Side Nav----*/

.index-only-side-nav .navbar {
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    border: none !important;
    margin-top: 20px;
    min-height: 20px;
    padding: 4px 0;
    border-radius: 0;
}

.index-only-side-nav .navbar .navbar-header .navbar-brand {
    width: 125px;
    padding: 15px 0 0 20px;
    min-height: 20px;
    height: auto;
}

.index-only-side-nav .navbar-brand {
    margin: 0 10px;
    margin-left: 5px !important;
    transform: scale(1);
    transition: 300ms;
}

.index-only-side-nav .display_none {
    transform: scale(0) !important;
}

.index-only-side-nav .navbar .navbar-header .navbar-brand img {
    width: 100%;
}

.menu_bars.right {
    float: right;
}

.menu_bars {
    width: 20px;
    border-radius: 4px;
    cursor: pointer;
    display: table;
    z-index: 1102;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
    right: 60px;
    position: fixed;
    padding: 11px 10px;
    top: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
}

.menu_bars span {
    background: #ffffff;
    display: block;
    width: 18px;
    height: 3px;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
    border-radius: 20px;
}

.pushmenu.pushmenu-right {
    padding: 20px 20px 20px 40px;
}

.pushmenu-right {
    right: -270px;
}

.pushmenu {
    background: #fff;
    padding: 20px 15px;
    width: 270px;
    height: 100%;
    top: 0;
    z-index: 1100;
    position: fixed;
    overflow: hidden;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    border-bottom: 3px solid #17acc6;
    border-top: 3px solid #17acc6;
}

.pushmenu-right.pushmenu-open {
    right: 0;
    box-shadow: 3px 0 3px 3px #c2c2c2;
}

.pushmenu.pushmenu-right {
    padding: 20px 20px 20px 40px;
}

.pushmenu-right {
    right: -270px;
}

.index-only-side-nav .menu_bars.active.right {
    background: none;
}

.menu_bars.active.right {
    padding: 15px;
    top: 30px;
}

.index-only-side-nav .menu_bars.active.right span {
    width: 18px;
    height: 5px;
    background: #17acc6;
}

.menu_bars.active span.t1 {
    -webkit-transform: translateY(11px) rotate(-45deg);
    transform: translateY(11px) rotate(-45deg);
}

.index-only-side-nav .menu_bars.active.right span .t2 {
    margin: 4px;
}

.index-only-side-nav .menu_bars span.t2 {
    margin: 3px 0;
}

.menu_bars.active span.t2 {
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu_bars.active span.t3 {
    -webkit-transform: translateY(-5px) rotate(-135deg);
    transform: translateY(-5px) rotate(-135deg);
}

.pushmenu .push-logo {
    display: block;
    padding: 0 0 30px 0;
    position: relative;
    z-index: 98;
    width: 100px;
    margin-top: 15px;
}

.pushmenu .push_nav {
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    background: transparent;
}

.pushmenu .push_nav li {
    display: block;
    font-size: 15px;
    padding: 5px;
    margin: 0 0px 18px 0px;
    text-transform: capitalize;
    padding-left: 0;
    font-weight: 300;
}

.pushmenu .push_nav > li > a {
    color: #232323 !important;
}

.pushmenu .push_nav > li > a > span {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    width: 30px;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
    color: #17acc6 !important;
}

.pushmenu .social_icon {
    position: absolute;
    bottom: 15px;
    left: 25px;
    right: 0;
}

.sidebar_menu .small-icon li {
    margin: 0;
}

.sidebar_menu .small-icon li a {
    color: #555555;
}

.sidebar_menu .small-icon li a:hover {
    color: #FFFFFF;
}

.pushmenu.pushmenu-open .push_nav > li:first-child {
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}

.pushmenu.pushmenu-open .push_nav > li:nth-child(2) {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

.pushmenu.pushmenu-open .push_nav > li:nth-child(3) {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}

.pushmenu.pushmenu-open .push_nav > li:nth-child(4) {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}

.pushmenu.pushmenu-open .push_nav > li:nth-child(5) {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}

.pushmenu.pushmenu-open .push_nav > li:nth-child(6) {
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
}

.pushmenu.pushmenu-open .push_nav > li:nth-child(7) {
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}

.pushmenu.pushmenu-open .push_nav > li {
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transform: translate3d(0, 0px, 0px);
    transform: translate3d(0, 0px, 0px);
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    opacity: 1;
}

.pushmenu .push_nav > li {
    display: block;
    position: relative;
    -webkit-transform: translate3d(100%, 0px, 0px);
    transform: translate3d(100%, 0px, 0px);
    opacity: 0;
}

.pushmenu .push_nav > li a {
    display: block;
}

.pushmenu.pushmenu-open .push_nav > li a:hover {
    transform: translateX(-10px);
    transition: all 300ms linear;
}

.social-icon-style-10 a:active,
.social-icon-style-10 a:focus {
    color: #fff;
}

.blog-post-page a:hover,
.blog-post-page a:active {
    color: #17acc6;
}

.color-version .b_offer {
    top: -100px;
}

.color-version .creative_service_area {
    margin-bottom: -100px;
}

/*----bottom Nav-----*/

.bottom-nav {
    position: absolute;
    bottom: 80px;
}

.bottom-nav .navbar-fixed-bottom {
    position: absolute;
}

.header-appear .navbar-fixed-bottom {
    position: fixed !important;
    margin: 0;
}
.bottom-nav-version .menu_bars{
    display: none;
    position: absolute;
    top: auto;
    bottom: 5px;
}
.bottom-nav-version .menu_bars.active.right{
    position: fixed;
}

.bottom-nav-version .header-appear .menu_bars{
    position:fixed;
    bottom: auto;
    top: 15px;
}

.bottom-nav-version .hermes.tp-bullets {
    display: none !important;
}

.dropdown-backdrop {
    position: absolute !important;
}

.circle-navbar {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 50px !important;
    top: 85px !important;
    z-index: 999;
}

/*----Green Version-----*/

.green-version .header-with-topbar .top-header-area {
    height: 120px;
    line-height: 95px;
}

.green-version .sticky.header-with-topbar .top-header-area {
    top: -120px;
}

.green-version .header-with-topbar.sticky .navbar-top {
    top: 0 !important;
    max-width: 100%;
    border-radius: 0px !important;
}

.green-version .btn {
    border-radius: 50px;
}

.green-version .contact-form .form_inputs {
    border-radius: 50px;
}

.green-version .contact-form .form_inputs_two {
    border-radius: 10px;
}

.green-version nav.navbar.bootsnav ul.nav > li > a.active {
    color: #82b440 !important;
}

.green-version header nav.navbar .navbar-nav > li > a:hover,
.green-version nav.navbar.bootsnav ul.nav > li > a:hover {
    color: #82b440 !important;
}

.green-version .mfp-bg {
    background: #82b440;
}

.green-version .header-search-form:hover {
    color: #82b440 !important;
}

.green-version header.sticky nav.navbar.bootsnav.white-link ul.nav > li > a.active {
    color: #82b440 !important;
}

.green-version .cbp-l-filters-buttonCenter .cbp-filter-item {
    border-radius: 50px;
}

.green-version .wrap-login100 {
    background: #82b440;
}

.green-version .login100-form-btn {
    color: #82b440;
}

.green-version header nav.navbar .navbar-nav>li.active>a,.green-version nav.navbar.bootsnav ul.nav>li.active>a {
    color: #82b440 !important;
}

/*---Svg Version---*/

svg {
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 100%;
    height: 130px;
    display: block;
}

.rotate-left {
    transform: rotate(-2deg);
    width: 103%;
    position: relative;
    left: -2%;
    z-index: 2;
}

.rotate-left-center {
    transform: rotate(2deg);
}

.rotate-right {
    transform: rotate(2deg);
    width: 103%;
    position: relative;
    left: -2%;
    z-index: 2;
}

.rotate-right-center {
    transform: rotate(-2deg);
}

.svg-version .cryptonatorwidget input {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.svg-version .cryptonatorwidget select {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.svg-version .cryptonatorwidget select option {
    color: #3b3b3b;
}

.svg-version .cryptonatorwidget input::-moz-selection {
    color: #ffffff;
    background: #dbdbdb;
}

.svg-version .cryptonatorwidget input::-webkit-input-placeholder {
    color: #ffffff;
    text-overflow: ellipsis;
}

.svg-version .cryptonatorwidget input::-moz-placeholder {
    color: #ffffff;
    text-overflow: ellipsis;
    opacity: 1;
}

.svg-version .cryptonatorwidget input:-ms-input-placeholder {
    color: #ffffff;
    text-overflow: ellipsis;
    opacity: 1;
}

.svg-parallax {
    background-size: auto !important;
    background-position: center !important;
    background-attachment: fixed !important;
}

.animated-version header nav.navbar.white-link .navbar-nav > li > a.active {
    color: #fff;
}

/*---Faq Page---*/

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top: 0px;
}

.accordion-style2 .panel .panel-heading i {
    color: #17ACC6;
}

.accordion-style2 .panel .panel-heading:hover .tab-tag,
.accordion-style2 .panel .panel-heading:hover i,
.accordion-style2 .panel .panel-heading:hover span {
    color: #FFFFFF !important;
}

/*---Shop page---*/

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.cart_table table {
    margin-bottom: 0;
}

.cart_table .table-responsive thead {
    background: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
}

.apply_coupon {
    border: 1px solid #d1d1d1 !important;
    border-top: none;
    padding: 20px;
}

.apply_coupon .coupon > form .form-group > input {
    width: 100%;
    margin-bottom: 0px;
}

.apply_coupon .coupon > form input {
    border: 1px solid #d1d1d1;
    padding: 6px 12px;
    vertical-align: top;
    height: 40px;
}

.apply_coupon .coupon > form input .btn {
    vertical-align: top;
}

.cart_table .table-responsive tbody tr > td {
    vertical-align: middle;
    padding: 10px;
}

.cart_table .table-responsive tbody tr > td img {
    width: 80px;
}

.cart_table .product-name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.cart_table .table-responsive thead tr > th {
    padding: 15px 20px;
    border-bottom-width: 1px;
    color: #3b3b3b;
}

.quote .quote,
.quote a {
    display: inline-block;
}

.quote .quote {
    border: 1px solid #d1d1d1;
    max-width: 50px;
    padding: 8px 18px;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
}

.quote::-webkit-input-placeholder,
.apply_coupon .coupon > form .form-group > input::-webkit-input-placeholder {
    color: #b2b2b2;
}

.quote::-moz-placeholder,
.apply_coupon .coupon > form .form-group > input::-moz-placeholder {
    color: #b2b2b2;
}

.quote:-ms-input-placeholder,
.apply_coupon .coupon > form .form-group > input::-moz-placeholder {
    color: #b2b2b2;
}

.quote:-moz-placeholder,
.apply_coupon .coupon > form .form-group > input:-moz-placeholder {
    color: #b2b2b2;
}

.totals {
    border: 1px solid #d1d1d1;
}

.total_form select {
    border: 1px solid #d1d1d1;
    height: 40px;
    padding: 5px;
    width: 100%;
    color: #b2b2b2;
    font-weight: 400;
    margin-bottom: 36px;
}

.total_form label {
    width: 100%;
    margin-bottom: -20px;
}

.totals .table > tbody > tr > td {
    padding-bottom: 15px;
    border: 0;
}

#shop .shopping_box {
    -webkit-box-shadow: 0 0 2px #d1d1d1;
    box-shadow: 0 0 2px #d1d1d1;
    min-height: 386px;
}

.overlay {
    background-color: rgba(15, 15, 15, 0.59);
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    -o-transition: opacity .5s linear;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
}

.shopping_box .image {
    min-width: 260px;
    min-height: 260px;
    overflow: hidden;
}

.image-zoom {
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.shopping_box .image img,
.image-zoom img {
    -o-transition: all .8s linear;
    -webkit-transition: all .8s linear;
    transition: all .8s linear;
    width: 100%;
}

.shopping_box a.btn-cart {
    position: absolute;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    bottom: 10px;
    opacity: 0;
}

.shopping_box .overlay:hover,
.shopping_box .overlay:hover a.btn-cart {
    opacity: 1;
}

.shopping_box .image:hover img,
.image-zoom:hover img {
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}

#shop .shopping_box a:hover,
#shop .shopping_box a:active {
    color: #3b3b3b;
}

.shop-details .quote .quote {
    padding: 6px 18px;
}

.shop-details .share {
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
}

.shop-details .share p {
    line-height: 35px;
}

.shop-details .share ul li {
    display: inline-block;
    margin: 0 5px;
}

/*--- Cube Portfolio ---*/

.cbp-l-grid-mosaic-flat .cbp-caption-activeWrap {
    background-color: #17acc6;
    background-color: rgba(23, 172, 198, 0.95);
}

.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
    color: #17ACC6;
    border-color: #17ACC6;
    cursor: default;
}

.cbp-l-filters-buttonCenter .cbp-filter-counter {
    background-color: #17ACC6;
}

.cbp-l-filters-buttonCenter .cbp-filter-counter:after {
    border-top: 4px solid #17ACC6;
}

.cbp-popup-lightbox .cbp-popup-next {
    background: url(../img/cbp-sprite.png) no-repeat scroll -46px 0 transparent;
}

.cbp-popup-lightbox .cbp-popup-prev {
    background: url(../img/cbp-sprite.png) no-repeat scroll 0 0 transparent;
}

.play-hvr {
    position: absolute;
    z-index: 8;
    top: 50%;
    transform: translateY(-50%);
    left: 40%;
    padding: 6px;
    border: 4px solid transparent;
    border-radius: 50px;
}

.play-hvr:hover {
    border: 4px solid #82b440;
}

.play-icon {
    position: relative;
    height: 75px;
    width: 75px;
    line-height: 88px;
    text-align: center;
    border-radius: 50px;
    background: #82b440;
    padding-left: 7px;
    box-shadow: 0 0 0 rgba(23, 172, 198, 0.4);
    animation: pulse 2s infinite;
    cursor: pointer;
}

.play-icon i {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

@-webkit-keyframes play-icon {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(23, 172, 198, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes play-icon {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(6, 68, 74, 0.3);
        box-shadow: 0 0 0 0 rgba(12, 84, 97, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.video-img {
    max-width: 400px;
    float: right;
    position: relative;
}

.video-img-overlay {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.17);
    top: 0;
    bottom: 0;
    opacity: .05;
    cursor: pointer;
}

.video-img:hover .video-img-overlay {
    opacity: 0.7;
}

.woa-image {
    width: 670px;
    margin-top: -30px;
    margin-bottom: -150px;
}

.price-table {
    overflow: hidden;
    max-width: 370px;
    margin: 0 auto;
    cursor: pointer;
    background: #fff;
}

.price-table:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, .1);
}

.price .currency {
    display: inline-block;
    vertical-align: top;
    font-size: 2rem;
}

.price .value {
    font-size: 7rem;
    font-weight: 500;
}

.price .duration {
    font-size: 1.4rem;
}

.contact-icon {
    text-align: center;
    font-size: 35px;
}

.map {
    height: 400px;
    width: 100%;
}

.parallax .btn.btn-green:hover, .parallax .btn.btn-grenn:focus {
    background: #17ACC6 !important;
    border-color: #17ACC6 !important;
    color: #fff !important;
}

.parallax .btn.btn-blue:hover, .parallax .btn.btn-blue:focus, .button_div .btn.btn-blue:hover, .button_div .btn.btn-blue:focus {
    background: #82b440 !important;
    border-color: #82b440 !important;
    color: #fff !important;
}

.social-icon-style-10 a:active,
.social-icon-style-10 a:focus {
    color: #5a5a5a;
}

.slider-text-middle {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

#shop .btn.btn-blue:hover,#shop .btn.btn-blue:focus {
    background: #82b440 !important;
    border-color: #82b440 !important;
    color: #fff !important;
}

.single-portfolio{
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.single-portfolio .myphoto {
    height: 200px;
    width: 200px;
    position: relative;
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border:2px solid #9e9e9e;
    overflow: hidden;
}
.center-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*-- Yellow Version ---*/

.yellow-version .play-icon {
    background: #fd961a;
}

.yellow-version .feature-box-5:hover .count-icon-two {
    color: #fd961a !important;
}

.yellow-version .how-box-one .icon-box-green {
    background: #fd961a;
    border: 3px solid #fd961a;
}

.yellow-version .play-hvr:hover {
    border: 4px solid #fd961a;
}

.yellow-version .parallax .btn.btn-blue:hover, .yellow-version .parallax .btn.btn-blue:focus {
    background: #fd961a !important;
    border-color: #fd961a !important;
    color: #fff !important;
}

.yellow-version .scroll-top-arrow:hover {
    background: #fd961a;
    color: #fff !important;
    border-color: #fd961a;
}

.yellow-version .parallax .btn.btn-blue:hover,.yellow-version .parallax .btn.btn-blue:focus,.yellow-version .button_div .btn.btn-blue:hover,.yellow-version .button_div .btn.btn-blue:focus {
    background: #fd961a !important;
    border-color: #fd961a !important;
    color: #fff !important;
}

.dark-version header nav.navbar.white-link .navbar-nav>li>a,.dark-version nav.navbar.bootsnav.white-link ul.nav>li>a{
    color: #0b0b0b;
}
.dark-version .tp-caption.NotGeneric-SubTitle,.dark-version .NotGeneric-SubTitle,.dark-version .tp-caption.NotGeneric-Title,.dark-version .NotGeneric-Title {
    color: #0b0b0b !important;
}
.dark-version .tp-caption.NotGeneric-SubTitle:hover,.dark-version .NotGeneric-SubTitle:hover,.dark-version .tp-caption.NotGeneric-Title:hover,.dark-version .NotGeneric-Title:hover {
    color: #0b0b0b !important;
}

.video-version .center-logo{
    top: 45%;
}
.video-version .header-appear .center-logo{
    top: 40%;
}

/*-- Parallax Images ---*/

.bg-1 {
    background: url(../img/parallaxbg1.jpg) no-repeat;
}

.bg-3 {
    background: url(../img/parallaxbg3.jpg) no-repeat;
}

.bg-5 {
    background: url(../img/parallaxbg5.jpg) no-repeat;
}

.bg-6 {
    background: url(../img/parallaxbg6.jpg) no-repeat;
}

.bg-pagecover {
    background: url(../img/page-cover.jpg) no-repeat;
}
.parallax{background-position:center !important;-webkit-background-size:cover!important;background-size:cover!important;background-attachment:fixed!important;width:100%}












/* Responsive */

@media (max-width: 991px) {
    .contact-form {
        float: none !important;
    }

    .header-searchbar {
        margin-right: 0px;
    }

    nav.navbar.bootsnav.nav-white ul.nav > li > a {
        color: #0b0b0b !important;
    }

    .dropdown-content {
        position: relative;
        display: block;
        left: 15px;
        right: 0;
        background: transparent;
        box-shadow: none;
    }

    .dropdown-content a:hover {
        background-color: transparent;
        color: #17acc6;
    }

    .dropdown-content::after {
        display: none;
    }

    nav.navbar.bootsnav.nav-white ul.nav > li > a:hover {
        color: #17acc6 !important;
    }

    .bottom-nav-version .menu_bars{
        display:inline-table;}

}

@media (max-width: 767px) {

    .how-box-one:after {
        display: none;
    }

    .menu_bars {
        top: 35px !important;
        right: 35px !important;
    }

    .pushmenu .push-logo {
        width: 100px !important;
        margin-top: 5px !important;
        z-index: 9 !important;
    }

    .index-only-side-nav .menu_bars.active.right {
        top: 20px !important;
    }

    .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th {
        white-space: initial;
    }

    .table-responsive {
        border: 0;
    }

    .rotate-left, .rotate-right {
        transform: rotate(0deg) !important;
        left: 0 !important;
        width: 100% !important;
    }

    .rotate-left-center, .rotate-right-center {
        transform: rotate(0deg) !important;
    }

    .about-content-wrap .about-featured-image, .about-content-wrap .about-text-content {
        width: 100% !important;
        display: block;
        float: left;
        text-align: center;
    }

    .about-text-content .icon-img {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .about-content-wrap .about-text-content {
        padding-left: 0px !important;
        padding-top: 50px;
    }

    .get-quote-section .image {
        right: 0 !important;
    }

    .owl-testimonial .owl-dots {
        text-align: center !important;
    }

    .testimonial-column {
        text-align: center !important;
        margin: 0 auto !important;
    }

    .testimonial-column .back-quote {
        left: 43% !important;
    }

    .contact-form {
        margin: 0 auto;
    }

    .list-style-3 li:before {
        display: none;
    }

    .latest-post li figure {
        margin-left: 45%;
        margin-bottom: 15px;
    }

    .phone-section .intro-image {
        max-width: 220px !important;
        margin-bottom: 10px;
    }

    .btn.btn-large {
        padding: 7px 20px;
        font-size: 12px;
        line-height: 22px;
    }

    .creative_img, .intro-image {
        max-width: 420px !important;
    }

    .play-icon {
        height: 60px !important;
        width: 60px !important;
        line-height: 74px !important;
    }

    .play-icon i {
        font-size: 25px !important;
    }

    .video-img {
        float: none !important;
        margin: 0 auto !important;
    }

    .form-group {
        margin-bottom: 0px !important;
    }

    .white-version .b_offer {
        top: 0 !important;
    }

    .white-version .creative_service_area {
        margin-bottom: 0 !important;
    }

    .how-box-one .icon-box-blue,.how-box-one .icon-box-green {
        font-size: 30px !important;
        line-height: 75px !important;
        width: 80px !important;
        height: 80px !important;
    }

    .parallax {
        background-attachment: inherit;
    }

    .second-navbar {
        top: 0 !important;
    }

    header a.logo img {
        max-width: 80px;
    }

    .price .value {
        font-size: 5rem;
    }
    .bottom-nav-version .menu_bars{
        top: 12px !important;
    }
}

@media (max-width: 500px) {
    .price-five .currency-icon {
        display: none !important;
    }

    .latest-post li figure {
        margin-left: 42%;
    }
}

@media screen and (max-height: 320px) {
    nav.navbar.bootsnav.no-full .navbar-collapse {
        max-height: 240px;
    }
}
